---
layout: home
---

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="arrow">Recent posts</h1><br>
    </div>
  </div>
  <div class="row">
    <div id="portfolioSlider">
      <ul class="slides">
          {% assign loopindex = 0 %}
          {% for post in site.posts %}
          {% if post.published %}
          {% assign loopindex = loopindex | plus: 1 %}
          {% if loopindex == 1 %}
          <li>
          <div class="col-md-4 wp4">
          {% endif %}
          {% if loopindex == 2 %}
          <div class="col-md-4 wp4 delay-05s">
          {% endif %}
          {% if loopindex == 3 %}
          <div class="col-md-4 wp4 delay-1s">
          {% assign loopindex = 0 %}
          {% endif %}
            <div class="overlay-effect effects clearfix">
              <div class="img">
                <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
                  <img src="{{ post.imageprev | prepend: site.baseurl }}" alt="{{ post.title }}">
                  <div class="overlay"></div>
                </a>
              </div>
            </div>
            <p>{{ post.date | date: "%b %-d, %Y" }}</p>
            <h2><a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
          </div>
          {% if loopindex == 0 %}
          </li>
          {% endif %}
          {% endif %}
          {% endfor %}
      </ul>
    </div>
  </div>
</div>
