<div class="ignite-cta text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="https://alvarogonzalezalvarez.com/" class="ignite-btn">About Me</a>
      </div>
    </div>
  </div>
</div>
<footer id="footer">
     <div class="twelve columns">
        <ul class="social-links">
           <li><a href="https://google.com/+alvarogonzalezalvarez/about" target="_blank"><i class="fa fa-google-plus"></i></a></li>
           <li><a href="https://www.linkedin.com/in/alvarogonzalezalvarez" target="_blank"><i class="fa fa-linkedin"></i></a></li>
           <li><a href="https://github.com/alvarogonzalezalvarez" target="_blank"><i class="fa fa-github"></i></a></li>
           <li><a href="https://twitter.com/alvaro_gzz" target="_blank"><i class="fa fa-twitter"></i></a></li>
        </ul>
        <ul class="copyright">
           <li>&copy; Copyright 2016</li>
           <li>Álvaro González Álvarez</li>
           <li>e-mail: alvaro@alvarogonzalezalvarez.com</li>   
        </ul>
     </div>
     <div id="go-top"><a class="up-arrow-btn" title="Back to Top" href="#home"><i class="fa fa-chevron-up"></i></a></div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/blog/js/waypoints.min.js"></script>
<script src="/blog/js/bootstrap.min.js"></script>
<script src="/blog/js/scripts.js"></script>
<script src="https://alvarogonzalezalvarez.com/js/jquery.flexslider.js"></script>
<script src="https://alvarogonzalezalvarez.com/js/modernizr.js"></script>