<header id="home">
  <nav id="nav-wrap" class="opaque">
   <div class="nav" id="authorlink">
      <a href="https://alvarogonzalezalvarez.com/">Álvaro González</a>
   </div>
   <div class="nav" id="catlinks">
      <a href="https://alvarogonzalezalvarez.com/blog/">Web Development</a>
      <!--<a href="https://alvarogonzalezalvarez.com/blog/websphere-commerce/">WCS</a>
      <a href="https://alvarogonzalezalvarez.com/blog/java/">Java</a>
      <a href="https://alvarogonzalezalvarez.com/blog/javascript/">JS</a>
      <a href="https://alvarogonzalezalvarez.com/blog/web-technologies/">Web Technologies</a>-->
   </div>
  </nav>
  <section id="hero" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
          <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
        </div>
      </div>
    </div>
  </section>
</header>