<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top">

    {% include header.html %}
    <section class="features text-center section-padding" id="features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="features-wrapper">
              {{ content }}
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include footer.html %}

  </body>

</html>
