<!DOCTYPE html>
<html lang="en">
      {% include head.html %}
      <body id="top">
        {% include header.html %}
        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>Web Technologies, Development and Programming
                <span>WebSphere Commerce, Java, JavaScript...</span></h1>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio text-center section-padding" id="portfolio">
          {{ content }}
        </section>
        {% include footer.html %}
      </body>
    </html>